*{
    margin: 0;
    padding: 0;
    
}
body {
    width: 100%;
}
.header {
    background-color: #042f4b;
    box-shadow: 0 2px 4px 1px rgba(000, 000, 000, 0.5);
    width: 100%;
    display: flex;
}


.nav-icon-container {
    width: 49%;
    font-size: 40px;
    color: #fff6da;
    box-sizing: border-box;
    line-height: 70px;
    display:flex;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

.nav-list-container {
    width: 49%;
}

.nav-list {
    list-style: none;
    font-size: 20px;
    line-height: 70px;
    font-family: 'Cuprum', sans-serif;
    display:flex;
    justify-content: flex-end;
    align-items: space-between;
   
}

.nav-link {
    padding: 0 20px;
    cursor: pointer;
    color: #fff6da;
}

.nav-link:hover {
    background-color: #226b80;

}

@media (max-width:900px) {
    .nav-list {
    flex-direction: column;
    align-items: flex-end;
    }
}

@media (max-width:200px) {
    .nav-icon-container {
        display: none;
    }
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        }
}
/*---------------------------------------------------------------------------------------------------
                                            MAIN                                                        
------------------------------------------------------------------------------------------------------*/

.main-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.main-title-container {
    background-color: #d8d4f2;
    background-image: url("./img/IMG_9561a.jpg");
    width: 100%;
    background-size: cover;
    margin: 20px auto;
    margin-bottom: 50px; 

    }

.main-title {
    background-color: #30323D;
    line-height: 100px;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 200px 0;
    color: #e5fcc2;
    letter-spacing: 15px;
}

@media (max-width:300px) {
    .main-title {
     font-size: 20px;
    }
}
/*---------------------------------------------------------------------------------------------------
                                       ABOUT ME SECTION                                                        
------------------------------------------------------------------------------------------------------*/
.section {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    
}

.presentation-container {
    background-color: #e5fcc2;
    height: 70vh;

}
.image-container {
    width:30%;
}
.personal-photo {
    width: 100%;
    border-radius: 50%;
    
}

.personal-description-container {
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    text-align: justify;
    border-left: 2px solid #eb8242;
    margin-left: 40px;
    padding: 30px 0 30px 30px;
    width: 60%;
            
}
.mini-description {
    display: flex;
    justify-content: space-evenly;
}
.mini-personal {
    font-weight: bold;
    
}


.extended-personal-description {
    font-size: 17px;
    margin-top: 20px;
}

@media (max-width:1250px) {
    .presentation-container {
        flex-direction: column;
        background-color: #e5fcc2;
        
    }
    .section {
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .personal-description-container {
        flex-direction: column;
        border: none;
        width: 90%;
        margin: 15px;
        padding: 0;
    
    }
    .mini-description {
        flex-direction: column;
        text-align: center;
    }
    .dash-line {
        display: none;
    }

}

/*---------------------------------------------------------------------------------------------------
                                            SKILLS SECTION                                                        
------------------------------------------------------------------------------------------------------*/
.skills-section {
    background-color: #45ada8;
    margin: 50px auto;
    flex-direction: column;
    justify-content: space-evenly;
    }

.all-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skill-img {
    height: 150px;
        

}
.skill-container {
    margin: 20px;
    width: 179px; 
    text-align: center;
    
    
}

.p-list {
    font-family: 'Ubuntu', sans-serif;
    background-color: #547980;
    font-size: 20px;
        
}

/*---------------------------------------------------------------------------------------------------
                                        CONTACT SECTION                                                        
------------------------------------------------------------------------------------------------------*/

.form-section {
    background-color: #226b80;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto 30px;
    padding-bottom: 30px;
    height: 100%;
    
   }

.form-container {
    display: flex;
    flex-direction: column;
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    background-color: #c5f0a4;
    width: 70%;
    box-shadow: 3px 3px 15px 5px rgba(000, 000, 000, 0.3);
    border-radius: 5px;

   }
.contact-form {
    margin: auto;
}

.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.form-first {
    margin: 10px 0px;
}
.form-label {
    padding: 7px 10px 7px 0;
    font-weight: bold;
}
.name-input, .email-input, .options, .textarea, .form-button {
    width: 97%;
    line-height: 20px;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #547980;
}
.options {
    width: 100%;
    cursor: pointer;
    
}
.motive-form {
    font-weight: normal;
    padding: 5px;
}
.radio-form {
    margin: 10px 0 5px 0;
}

.form-button {
    margin: 20px auto;
    cursor: pointer;
    
}

button:hover {
    background-color: darkgrey;
}

button:active {
    background-color: grey;
}

input:invalid:not(:placeholder-shown) {
    border-color: 0.5px solid red;
}

@media (max-width:735px) {
    .form-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/*---------------------------------------------------------------------------------------------------
                                            FOOTER                                                        
------------------------------------------------------------------------------------------------------*/


.footer-container {
    background-color: #042f4b;
    color: #fff6da;
    font-family: 'Cuprum', sans-serif;
    width: 100%;
}

.footer-list {
    text-align: center;
}

.footer-one {
    list-style: none;

}

.footer-link-one {
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
    cursor: pointer;
    padding: 0 15px;
}

.footer-link-one:hover {
    background-color: #226b80;
}
/*.footer-two {
    
}*/

.second-line {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    line-height: 50px;
}

/*.footer-copyright {
    
    
}

.footer-vertical-bar {
   
}*/

.footer-email {
    cursor: pointer;
}

/*.footer-phone {
}
.icon-wsp {

}*/


h2 { 
    font-family: 'Lobster', cursive; 
    font-size: 40px; 
}

a {
    cursor: pointer;
    color: #fff6da;
    text-decoration: none;
}

a:visited {
    color: #fff6da;
}

@media (max-width:690px) and (min-width: 505px) {
    .footer-two p:nth-child(4) {
        display:none;
    }
    .footer-phone {
        margin: 0 20px;
    }
}
@media (max-width:504px) {
    .footer-two p:nth-child(2) {
        display: none;
    }
    .footer-copyright {
        margin: 0 20px;
    }
}