*{
    margin: 0;
    padding: 0;
    
}
body {
    width: 100%;
}
.header {
    background-color: #042f4b;
    box-shadow: 0 2px 4px 1px rgba(000, 000, 000, 0.5);
    width: 100%;
    display: flex;
    z-index: 1000;
}


.nav-icon-container {
    width: 49%;
    font-size: 40px;
    color: #fff6da;
    box-sizing: border-box;
    line-height: 70px;
    display:flex;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

.nav-list-container {
    width: 49%;
}

.nav-list {
    list-style: none;
    font-size: 20px;
    line-height: 70px;
    font-family: 'Cuprum', sans-serif;
    display:flex;
    justify-content: flex-end;
    align-items: space-between;
   
}

.nav-link {
    padding: 0 20px;
    cursor: pointer;
    color: #fff6da;
    position: relative;
}

.nav-link:hover {
    background-color: #226b80;
}
.nav-link:hover .sub-nav-list {
    display: block;
}
.sub-nav-list {
    list-style: none;
    position: absolute;
    background-color: #053e63; 
    top: 56px;
    right: -40px;
    border-radius: 5px;
    display: none;
}

.sub-nav-link:hover {
    background-color: #085d94;
    overflow: hidden;  
}
.sub-nav-link {
    font-size: 17px;
    line-height: 30px;
    padding: 5px 20px;
}

@media (max-width:900px) {
    .nav-list {
    flex-direction: column;
    align-items: flex-end;
    }
}

@media (max-width:200px) {
    .nav-icon-container {
        display: none;
    }
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        }
}
/*---------------------------------------------------------------------------------------------------
                                            MAIN                                                        
------------------------------------------------------------------------------------------------------*/

.header-container {
    background-color: #547980;
    background-image: url("./img/IMG_9561a.jpg");
    width: 100%;
    background-size: cover;
    margin: 20px auto;
    margin-bottom: 50px; 
    display: flex;
    position: relative;
    cursor: pointer;

    }

.main-title, .animation-title1, .animation-title2 {
    background-color: #30323D;
    line-height: 100px;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 200px 0;
    color: #e5fcc2;
    letter-spacing: 15px;
    width: 100%;
    transition: all 0.3s;

}

.animation-title1 {
    position: absolute;
    width: 50%;
    left: -50%;
    top: 0;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}


.animation-title2 {
    position: absolute;
    width: 50%;
    right: -50%;
    top: 0;
    text-align: left;
    padding-left: 5px;
    box-sizing: border-box;
}



/*-----------------------------------
                ANIMATION
------------------------------------*/

.header-container:hover .animation-title1{
    left: 0;
    top: 0;
    transition: all 0.3s;
    padding-right: 10px;
    box-sizing: border-box;
}

.header-container:hover .animation-title2{
    right: 0%;
    top: 0;
    transition: all 0.3s;
    padding-left: 10px;
    box-sizing: border-box;
}


@media (max-width:300px) {
    .main-title {
     font-size: 20px;
    }
}
/*---------------------------------------------------------------------------------------------------
                                       ABOUT ME SECTION                                                        
------------------------------------------------------------------------------------------------------*/
.section {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

.presentation-container {
    background-color: #E5FCC2;
    height: 70vh;

}
.image-container {
    width:30%;
}
.personal-photo {
    width: 100%;
    border-radius: 50%;
    
}

.personal-description-container {
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    text-align: justify;
    border-left: 2px solid #ED9128;
    margin-left: 40px;
    padding: 30px 0 30px 30px;
    width: 60%;
            
}
.mini-description {
    display: flex;
    justify-content: space-evenly;
}
.mini-personal {
    font-weight: bold;
    
}


.extended-personal-description {
    font-size: 17px;
    margin-top: 20px;
}

@media (max-width:1250px) {
    .presentation-container {
        flex-direction: column;
        
        
    }
    .section {
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .personal-description-container {
        flex-direction: column;
        border: none;
        width: 90%;
        margin: 15px;
        padding: 0;
    
    }
    .mini-description {
        flex-direction: column;
        text-align: center;
    }
    .dash-line {
        display: none;
    }

}

/*---------------------------------------------------------------------------------------------------
                                            SKILLS SECTION                                                        
------------------------------------------------------------------------------------------------------*/
.skills-section {
    background-color: #E5FCC2;
    margin: 20px auto;
}

.list-container {
    width: 750px;
    margin: 50px;

}
.slider-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    margin-left: 50px;
}

.slider-point {
    height: 60px;
    width: 60px;
    cursor: pointer;

}
.item-title {
    background-color: #556270;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60px;
    bottom: 0;
    
}
.item-title h2 {
    font-size: 60px;
    
  
}


/*-------------------------------*/

.item-one {
    background-color: #65D0B2;
}
.item-two {
    background-color: #C7F464;
}
.item-three {
    background-color: #FF6B6B;
}
.item-four {
    background-color: #C44D58;
}
.item-five {
    background-color: #EF4046;
}
.item-six {
    background-color:#87E5E5;
}
.item-seven {
    background-color:#4EDB79;
}
.item-eight {
    background-color: #AF2A42;
}
.item-nine {
    background-color: #B4C6F7;
}
.item-ten {
    background-color: #22E88F;
}

/*----------------------------*/

.skills-img-container {
    position: absolute;
    height: 600px;
    width: 600px;
    background-color: #556270;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    font-family: 'Orbitron', sans-serif;
    
}


.skills-img-container img {
    height: 500px;   
}
.skills-img-container p {
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}
.img-one {
    /*background-color: #65D0B2;*/
    display: none;
    top: 0;
    left: 60px;
    transition-duration: 0.3s;

}
.img-two {
    /*background-color: #D8F546;*/
    display: none;
    top: 0;
    left: 60px;
    transition-duration: 0.3s;
}
.img-three {
    /*background-color: #FF724B;*/
    top: 0;
    left: 60px;
    display: none;
    transition-duration: 0.3s;
}
.img-four {
    /*background-color: #D6523E;*/
    display: none;
    top: 0;
    left: 60px;
    transition-duration: 0.3s;

}
.img-five {
    /*background-color: #F44431;*/
    top: 0;
    left: 60px;
    display: none;
    transition-duration: 0.3s;
}
.img-six {
    /*background-color:#ABE7DD;*/
    top: 0;
    left: 60px;
    display: none;
    transition-duration: 0.3s;
}
.img-seven {
    /*background-color:#65DD55;*/
    top: 0;
    left: 60px;
    display: none;
    transition-duration: 0.3s;
}
.img-eight {
    /*background-color: #C72D2E;*/
    display: none;
    top: 0;
    left: 60px;
    transition-duration: 0.3s;
}
.img-nine {
    /*background-color: #CBCAF5;*/
    top: 0;
    left: 60px;
    display: none;
    transition-duration: 0.3s;
}
.img-ten {
    /*background-color: #7DE7B5;*/
    display: none;
    top: 0;
    left: 60px;
    transition-duration: 0.3s;
}

li {
    padding: 0;
}

/*------------------------------
                HOVERS
-----------------------------*/

.item-one:hover {
    background-color: #4ECDC4
}
.item-two:hover {
    background-color: #D8F546;
}
.item-three:hover {
    background-color: #FF724B;
}
.item-four:hover {
    background-color: #D6523E;
}
.item-five:hover {
    background-color: #F44431;
}
.item-six:hover {
    background-color:#ABE7DD;
}
.item-seven:hover {
    background-color:#65DD55;
}
.item-eight:hover {
    background-color: #C72D2E;
}
.item-nine:hover {
    background-color: #CBCAF5;
}
.item-ten:hover {
    background-color: #7DE7B5;
}


.item-one:hover + .img-one {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-two:hover + .img-two {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-three:hover + .img-three {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-four:hover + .img-four {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-five:hover + .img-five {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-six:hover + .img-six {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-seven:hover + .img-seven {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-eight:hover + .img-eight {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-nine:hover + .img-nine {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.item-ten:hover + .img-ten {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}


/*---------------------------------------------------------------------------------------------------
                                        CONTACT SECTION                                                        
------------------------------------------------------------------------------------------------------*/

.form-section {
    background-color: #9DE0AD;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto 30px;
    padding-bottom: 30px;
    height: 100%;
    
   }

.form-container {
    display: flex;
    flex-direction: column;
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    background-color: #E5FCC2;
    width: 70%;
    box-shadow: 3px 3px 15px 5px rgba(000, 000, 000, 0.3);
    border-radius: 5px;

   }
.contact-form {
    margin: auto;
}

.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.form-first {
    margin: 10px 0px;
}
.form-label {
    padding: 7px 10px 7px 0;
    font-weight: bold;
}
.name-input, 
.email-input, 
.options, 
.textarea, 
.form-button {
    width: 97%;
    line-height: 20px;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #547980;
}
.name-input, .email-input {
    padding-left: 30px;
}


.input-name, .input-email  {
    position: relative;
    width: 95%;
}
.name-icon, .email-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

#check-icon {
    display:none;
    color: #355a24;
    position: absolute;
    right: 0;
    top:11px;  
}

.invalid-message-box {
    width: 230px;
    text-align: center;
    background-color: #B8B8B8;
    border-radius: 6px;
    border: 1px solid grey;
    padding: 5px;
    position: absolute;
    left: -245px;
    top: -14px;
    display:none;
}


.name-input:hover, 
.email-input:hover,
.options:hover, 
.textarea:hover {
    border: 1px solid #bac9cc;
}

.name-input:invalid:not(:placeholder-shown), 
.email-input:invalid:not(:placeholder-shown) {
    border: 1px solid firebrick;
}
.email-input:invalid:not(:placeholder-shown) ~ .invalid-message-box {
    display:block;
}


.name-input:valid + #check-icon,
.email-input:valid + #check-icon {
    display: block;
}

.options {
    width: 100%;
    cursor: pointer;
    
}
.motive-form {
    font-weight: normal;
    padding: 5px;
}
.radio-form {
    margin: 10px 0 5px 0;
}

.form-button {
    margin: 20px auto;
    cursor: pointer;
    
}

button:hover {
    background-color: darkgrey;
}

button:active {
    background-color: grey;
}

input:invalid:not(:placeholder-shown) {
    border-color: 0.5px solid red;
}

@media (max-width:735px) {
    .form-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/*---------------------------------------------------------------------------------------------------
                                            FOOTER                                                        
------------------------------------------------------------------------------------------------------*/


.footer-container {
    background-color: #042f4b;
    color: #fff6da;
    font-family: 'Cuprum', sans-serif;
    width: 100%;
}

.footer-list {
    text-align: center;
}

.footer-one {
    list-style: none;

}

.footer-link-one {
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
    cursor: pointer;
    padding: 0 15px;
}

.footer-link-one:hover {
    background-color: #226b80;
}
/*.footer-two {
    
}*/

.second-line {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    line-height: 50px;
}

/*.footer-copyright {
    
    
}

.footer-vertical-bar {
   
}*/

.footer-email {
    cursor: pointer;
}

/*.footer-phone {
}
.icon-wsp {

}*/


h2 { 
    font-family: 'Lobster', cursive; 
    font-size: 40px; 
}

a {
    cursor: pointer;
    color: #fff6da;
    text-decoration: none;
}

a:visited {
    color: #fff6da;
}

@media (max-width:690px) and (min-width: 505px) {
    .footer-two p:nth-child(4) {
        display:none;
    }
    .footer-phone {
        margin: 0 20px;
    }
}
@media (max-width:504px) {
    .footer-two p:nth-child(2) {
        display: none;
    }
    .footer-copyright {
        margin: 0 20px;
    }
}